<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <add key="TempPath" value="C:\WOPIHostTemp"/>
    <add key="ListenerHost" value="localhost"/>
    <add key="ListenerPort" value="80"/>
    <add key="InfoURL" value="http://localhost:8080/document/getInfo"/>
  </appSettings>
</configuration>